.md-logo img {
    width: px !important;
    height: 53px !important;
}
[data-md-color-scheme="cisl_default"] {
  --md-primary-fg-color:               #DBE2E9  ;  /* header background color */
  --md-primary-bg-color:               #012169  ;  /* header font color */

  --md-default-bg-color:               #f1f4f7;
  --md-default-fg-color:               #012169;

  --md-text-font:                      "Poppins";
}

[data-md-color-scheme="cisl_default_dark"] {
  --md-primary-fg-color:               #1A658F  ;  /* header background color --- > NCAR blue */
  --md-primary-bg-color:               #DBE2E9  ;  /* header font color */

  --md-default-bg-color:               #53565A;
  --md-default-fg-color:               #f1f4f7;
  --md-default-fg-color:               #DBE2E9;

  /* Primary color shades */

  --md-primary-bg-color:               rgb(255,255,255);

    /* Accent color shades */

  --md-accent-fg-color:                rgb(168, 199, 0);          /* NCAR green */
  --md-accent-fg-color--transparent:   rgba(76, 248, 29, 0.25);

  --md-accent-bg-color:                rgb(214, 79, 30);

  --md-text-font:                      "Poppins";
}



body {
  background-image: url('../assets/images/NCAR-Waves.png');
  background-size: 50%;
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

[data-md-color-scheme="slate"] {
  --md-hue: 213;
}



:root {

  /* Default color shades */
  --md-default-fg-color:               rgb(3, 3, 3);
  --md-default-fg-color--light:        rgb(11,33,57,0.8);
  --md-default-fg-color--lighter:      rgb(11,33,57,0.5);
  --md-default-fg-color--lightest:     rgb(11,33,57,0.1);

  --md-default-bg-color:               rgb(255, 255, 255);


  /* Primary color shades */
  --md-primary-fg-color:               rgb(0,143,184);

  --md-primary-bg-color:               rgb(255,255,255);


  /* Accent color shades */

  --md-accent-fg-color:                rgb(168, 199, 0);          /* NCAR green */
  --md-accent-fg-color--transparent:   rgba(76, 248, 29, 0.25);

  --md-accent-bg-color:                rgb(32, 91, 118);


  /* Code block color shades */
  --md-code-bg-color:                  rgb(210,227,235,0.3);
  --md-code-fg-color:                  rgb(11,33,57);
}



.md-footer-social {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* siteimprove accessibility tweaks */
.md-nav__link.md-nav__link--active {
    font-weight: bold;
}

/*
.md-content a {
    text-decoration:underline;
}
*/

.logo-wrapper h1 {
  font-size: 2rem;
  line-height: .8
}

.logo-wrapper h2 {
  line-height: 0;
  margin: 0 .5rem 0 0;
  padding-right: .5rem
}

.grid-x {
  background-color: #012169;
  justify-content: center
  max-width: 80%;
}

.md-footer-meta__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.wy-table-responsive table td {
    white-space: normal !important;
}
.wy-table-responsive {
    overflow: visible !important;
}




.bolditalic {
  font-weight: bold;
  font-style: italic;
}
