name: MkDocs Build Smoke Test

on: [pull_request]

permissions:
  contents: write

jobs:
  mkdocs-build:
    name: Install MkDocs Conda Env & Build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
          fetch-depth: 0

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: mkdocs
          environment-file: conda.yaml
          auto-activate-base: false

      - name: Interrogate Environment
        run: |
          env | sort | uniq
          conda list
          which mkdocs
          mkdocs --version

      - name: List Source Tree
        run: |
          pwd
          find * ! -type d

      - name: MkDocs build
        run: |
          mkdocs build --strict

      - name: MkDocs output
        run: |
          find site ! -type d
